# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.cache
.fleet

.vscode

# Ignore all exe files from all folders
**/*.exe

# Ignore all binary and build files from all folders
**/bin/
**/obj/
